<div class="row traits-box mb-3">
    <div class="col-md-6 p-3">
        <h2>Conscientiousness</h2>
        <p>Conscientiousness describes a person’s ability to regulate their impulse control in order to
            engage
            in goal-directed behaviors (Grohol, 2019). It measures elements such as control, inhibition, and
            persistency of behavior.</p>
        <div>
            <div class="text-center">
                <h4>Conscientiousness vs. Lack of Direction</h4>
            </div>
            <p>Those who score high on conscientiousness can be described as organized, disciplined,
                detail-oriented, thoughtful, and careful. They also have good impulse control, which allows
                them
                to
                complete tasks and achieve goals.

            </p>
            <p>
                Those who score low on conscientiousness may struggle with impulse control, leading to
                difficulty in
                completing tasks and fulfilling goals.
            </p>
            <p>
                They tend to be more disorganized and may dislike too much structure. They may also engage
                in
                more
                impulsive and careless behavior.
            </p>
        </div>
    </div>
    <div class="col-md-6 p-3 align-self-center">
        <div class="row">
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>High</h5>
                    <ul>
                        <li>Competence</li>
                        <li>Organized</li>
                        <li>Dutifulness</li>
                        <li>Achievement striving</li>
                        <li>Self-disciplined</li>
                        <li>Deliberation</li>
                    </ul>
                </div>
            </div>

            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>Low</h5>
                    <ul>
                        <li>Incompetent</li>
                        <li>Disorganized</li>
                        <li>Careless</li>
                        <li>Procrastinates</li>
                        <li>Indiscipline</li>
                        <li>Impulsive</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>