<div class="row traits-box mb-3">
    <div class="col-md-6 p-3">
        <h2>Extraversion</h2>
        <p>Extraversion reflects the tendency and intensity to which someone seeks interaction with their
            environment, particularly socially. It encompasses the comfort and assertiveness levels of
            people in
            social situations.</p>
        <p>Additionally, it also reflects the sources from which someone draws energy.</p>
        <div>
            <div class="text-center">
                <h4>Extraversion vs. Introversion</h4>
            </div>
            <p>Those high on extraversion are generally assertive, sociable, fun-loving, and outgoing. They
                thrive in social situations and feel comfortable voicing their opinions. They tend to gain
                energy and become excited from being around others.
            </p>
            <p>Those who score low in extraversion are often referred to as introverts. These people tend to
                be
                more reserved and quieter. They prefer listening to others rather than needing to be heard.
            </p>
            <p>Introverts often need periods of solitude in order to regain energy as attending social
                events
                can be very tiring for them. Of importance to note is that introverts do not necessarily
                dislike
                social events, but instead find them tiring.</p>
        </div>

    </div>
    <div class="col-md-6 p-3 align-self-center">
        <div class="row">
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>High</h5>
                    <ul>
                        <li>Sociable</li>
                        <li>Energized by social interaction</li>
                        <li>Excitement-seeking</li>
                        <li>Enjoys being the center of attention</li>
                        <li>Outgoing</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>Low</h5>
                    <ul>
                        <li>Prefers solitude</li>
                        <li>Fatigued by too much social interaction</li>
                        <li>Reflective</li>
                        <li>Dislikes being the center of attention</li>
                        <li>Reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>