<div class="row traits-box mb-3">
    <div class="col-md-6 p-3">
        <h2>Neuroticism</h2>
        <p>Neuroticism describes the overall emotional stability of an individual through how they perceive
            the
            world. It takes into account how likely a person is to interpret events as threatening or
            difficult.
        </p>
        <p>It also includes one’s propensity to experience negative emotions.</p>
        <div>
            <div class="text-center">
                <h4>Neuroticism vs. Emotional Stability</h4>
            </div>
            <p>Those who score high on neuroticism often feel anxious, insecure and self-pitying. They are
                often
                perceived as moody and irritable. They are prone to excessive sadness and low self-esteem.
            </p>
            <p>
                Those who score low on neuroticism are more likely to calm, secure and self-satisfied. They
                are
                less likely to be perceived as anxious or moody. They are more likely to have high
                self-esteem
                and remain resilient.
            </p>
        </div>

    </div>
    <div class="col-md-6 p-3 align-self-center">
        <div class="row">
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>High</h5>
                    <ul>
                        <li>Anxious</li>
                        <li>Angry hostility (irritable)</li>
                        <li>Experiences a lot of stress</li>
                        <li>Self-consciousness (shy)</li>
                        <li>Vulnerability</li>
                        <li>Experiences dramatic shifts in mood</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>Low</h5>
                    <ul>
                        <li>Doesn't worry much</li>
                        <li>Calm</li>
                        <li>Emotionally stable</li>
                        <li>Confident</li>
                        <li>Resilient</li>
                        <li>Rarely feels sad or depressed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>