<div class="row traits-box mb-3">
    <div class="col-md-6 p-3">
        <h2>Openness to Experience</h2>
        <p>Openness to experience refers to one’s willingness to try new things as well as engage in
            imaginative
            and intellectual activities. It includes the ability to “think outside of the box.”</p>
        <div>
            <div class="text-center">
                <h4>Openness vs. Closedness to Experience</h4>
            </div>
            <p>Those who score high on openness to experience are perceived as creative and artistic. They
                prefer variety and value independence. They are curious about their surroundings and enjoy
                traveling and learning new things.
            </p>
            <p>
                People who score low on openness to experience prefer routine. They are uncomfortable with
                change and trying new things so they prefer the familiar over the unknown. As they are
                practical
                people, they often find it difficult to think creatively or abstractly.
            </p>
        </div>

    </div>
    <div class="col-md-6 p-3 align-self-center">
        <div class="row">
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>High</h5>
                    <ul>
                        <li>Curious</li>
                        <li>Imaginative</li>
                        <li>Creative</li>
                        <li>Open to trying new things</li>
                        <li>Unconventional</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 my-2">
                <div class="mini-box p-3">
                    <h5>Low</h5>
                    <ul>
                        <li>Predictable</li>
                        <li>Not very imaginative</li>
                        <li>Dislikes change</li>
                        <li>Prefer routine</li>
                        <li>Traditional</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>