<div class="modal fade" id="return_{{user.user.user.username}}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Confirm</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="fs-18">Are you sure do you want to return this user to pending status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'administration:return-user' user.user.user.username user.user.user.pk %}" class="btn btn-success me-3">Return</a>
            </div>
        </div>
    </div>
</div>