<script>
      let IBEDRiasecLineChart = new Chart(RIlineChart, {
        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:['Realistic', 'Investigative', 'Artistic', 'Social', 'Enterprising', 'Conventional'],
          datasets:[{
            label:'Result',
            data:[
            {{ riasec_ibed.realistic__avg|floatformat:1 }},
            {{ riasec_ibed.investigative__avg|floatformat:1 }},
            {{ riasec_ibed.artistic__avg|floatformat:1 }},
            {{ riasec_ibed.social__avg|floatformat:1 }},
            {{ riasec_ibed.enterprising__avg|floatformat:1 }},
            {{ riasec_ibed.conventional__avg|floatformat:1 }},
            ],
            backgroundColor:[
              'rgba(113, 186, 133, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
          }]
        },
        options:{
          legend:{
            display:true,
            position:'right',
            labels:{
              fontColor:'#000'
            }
          },
          layout:{
            padding:{
              left:0,
              right:30,
              bottom:0,
              top:0
            }
          },
          tooltips:{
            enabled:true
          }
        }
      });
</script>