<script>
    let riasecPieChart = new Chart(pieChart, {
        type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:['Realistic', 'Investigative', 'Artistic', 'Social', 'Enterprising', 'Conventional'],
          datasets:[{
            data:[
              {{result.realistic|floatformat:1}},
              {{result.investigative|floatformat:1}},
              {{result.artistic|floatformat:1}},
              {{result.social|floatformat:1}},
              {{result.enterprising|floatformat:1}},
              {{result.conventional|floatformat:1}}
            ],
            backgroundColor:[
              'rgba(255, 99, 132, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
          }]
        },
        options:{
          title:{
            display:false,
            text:'Pie Chart',
            fontSize:25
          },
          legend:{
            display:true,
            position:'right',
            fontSize: 5,
            labels:{
              fontColor:'#000'
            }
          },
          layout:{
            padding:{
              left:0,
              right:50,
              bottom:0,
              top:0,
            }
          },
          tooltips:{
            enabled:true
          }
        }
      });
</script>