{% extends "stats/base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="container">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="tab" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</button>
            <button class="nav-link active" id="v-pills-career-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-career" type="button" role="tab" aria-controls="v-pills-career"
                aria-selected="false">Career</button>
            <button class="nav-link" id="v-pills-personality-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-personality" type="button" role="tab" aria-controls="v-pills-personality"
                aria-selected="false">Personality</button>
        </div>
    </nav>


    <div class="tab-content" id="v-pills-tabContent">
        <!-- profile tab -->
        <div class="tab-pane fade show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div>
                {% if user.username != request.user.username %}
                <div class="d-flex flex-wrap justify-content-end">
                    <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal"
                        data-bs-target="#delete">Delete</button>
                    {% include 'stats/components/delete-modal.html' %}
                    <button class="btn btn-info m-1" type="button" data-bs-toggle="modal" data-bs-target="#message">New
                        message</button>
                    {% include 'stats/components/message-modal.html' %}
                    {% if scheduled %}
                    <a href="{% url 'administration:reset-schedule' admin.pk %}"
                        class="btn btn-warning m-1">Reset-Schedule</a>
                    <button class="btn btn-secondary m-1" type="button" data-bs-toggle="modal"
                        data-bs-target="#return">Return</button>
                    {% endif %}
                    {% if not done and not scheduled %}
                    <a href="{% url 'administration:set-schedule' user.username %}"
                        class="btn btn-warning m-1">Set-Schedule</a>
                    {% endif %}
                    {% include 'stats/components/stats-return-modal.html' %}
                    {% if not done %}
                    <a href="#" class="btn btn-success m-1" type="button" data-bs-toggle="modal"
                        data-bs-target="#approve">Approve</a>
                    {% include 'stats/components/approve-modal.html' %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="my-2">
                <p>Username: {{user.username}}</p>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
            </div>
        </div>
        <!-- career tab -->
        <div class="tab-pane fade show active" id="v-pills-career" role="tabpanel" aria-labelledby="v-pills-career-tab">
            {% if riasec_result %}
            <div class="row">
                <div class="text-center my-5">
                    <h2>Result</h2>
                </div>
                <div class="col-sm-3 col-xs-6 align-self-center">
                    <p class="p-2" id="r"> <span class="bg-color-a p-2">Realistic</span> =
                        {{riasec_result.realistic|floatformat:1}}</p>
                    <p class="p-2" id="i"><span class="bg-color-b p-2">Investigative</span> =
                        {{riasec_result.investigative|floatformat:1}}</p>
                    <p class="p-2" id="a"><span class="bg-color-c p-2">Artistic</span> =
                        {{riasec_result.artistic|floatformat:1}}</p>
                    <p class="p-2" id="s"><span class="bg-color-d p-2">Social</span> =
                        {{riasec_result.social|floatformat:1}}</p>
                    <p class="p-2" id="e"><span class="bg-color-e p-2">Enterprising</span> =
                        {{riasec_result.enterprising|floatformat:1}}</p>
                    <p class="p-2" id="c"><span class="bg-color-f p-2">Conventional</span> =
                        {{riasec_result.conventional|floatformat:1}}</p>
                </div>
                <div class="col-sm-9 col-xs-6 py-3">
                    <div class="chart-container mx-auto" style="height: 100%; width: 100%">
                        <canvas id="pieChart"></canvas>
                    </div>
                    {% include 'stats/riasec-scripts/piechart.html' %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="chart-container" style="height:100%; width:100%">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-evenly mb-5">
                <div class="m-1">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Top 1</h5>
                            <ul>
                                {% for obj in top1 %}
                                <li>{{obj|title}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if top2 %}
                <div class="m-1">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Top 2</h5>
                            {% for obj in top2 %}
                            <li>{{obj|title}}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if top3 %}
                <div class="m-1">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Top 3</h5>
                            {% for obj in top3 %}
                            <li>{{obj|title}}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% include 'riasec/scripts/piechart.html' %}
            {% include 'riasec/scripts/barchart.html' %}
            {% include 'riasec/carousels/top1.html' %}
            {% include 'riasec/carousels/top2.html' %}
            {% include 'riasec/carousels/top3.html' %}
            {% else %}
            <p>No result found</p>
            {% endif %}
        </div>
        <!-- Personality Tab -->
        <div class="tab-pane fade" id="v-pills-personality" role="tabpanel" aria-labelledby="v-pills-personality-tab">
            <div class="text-center my-5">
                <h2>Result</h2>
            </div>
            {{obj_prediction.extroversion}}
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Extroversion: {{personalityTest_result.extroversion}}</li>
                        <li class="list-group-item">Neurotic: {{personalityTest_result.neurotic}}</li>
                        <li class="list-group-item">Agreeable: {{personalityTest_result.agreeable}}</li>
                        <li class="list-group-item">Conscientious: {{personalityTest_result.conscientious}}</li>
                        <li class="list-group-item">Openness: {{personalityTest_result.openness}}</li>
                        <li class="list-group-item">Prediction: {{personalityTest_result.prediction}}</li>
                    </ul>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="chart-container" style="height:100%; width:100%;">
                        <canvas id="predictionBarChart"></canvas>
                    </div>
                    {% include 'stats/personalityTest-scripts/predictionBarChart.html' %}
                </div>
            </div>

            <div class="text-center my-5">
                <h2>{{personalityTest_result.prediction}}</h2>
            </div>
            <div class="row">
                <div class="chart-container mx-auto" style="height:100%; width:100%">
                    <canvas id="clusterBarChart"></canvas>
                </div>
            </div>
            {% include 'stats/personalityTest-scripts/clusterBarChart.html' %}
            <div class="text-center my-5">
                <h2>The Big Five Personality Traits</h2>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-e"
                        type="button" role="tab" aria-controls="pills-e" aria-selected="true">Extroversion</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-n"
                        type="button" role="tab" aria-controls="pills-n" aria-selected="true">Neurotic</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-a"
                        type="button" role="tab" aria-controls="pills-a" aria-selected="true">Agreeable</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-c"
                        type="button" role="tab" aria-controls="pills-c" aria-selected="true">Conscientious</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-o"
                        type="button" role="tab" aria-controls="pills-o" aria-selected="true">Openness</button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-e" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'personalityTest/traits/extroversion.html' %}
                </div>
                <div class="tab-pane fade show" id="pills-n" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'personalityTest/traits/neurotic.html' %}
                </div>
                <div class="tab-pane fade show" id="pills-a" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'personalityTest/traits/agreeable.html' %}
                </div>
                <div class="tab-pane fade show" id="pills-c" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'personalityTest/traits/conscientious.html' %}
                </div>
                <div class="tab-pane fade show" id="pills-o" role="tabpanel" aria-labelledby="pills-home-tab">
                    {% include 'personalityTest/traits/openness.html' %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}