{% extends "userprofile/base.html" %}
{% load static %}
{% block title %}{{profile.user.first_name}} {{profile.user.last_name}}{% endblock %}

{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="container mt-2">
    <!-- message alert -->
    <div class="d-flex justify-content-center  align-items-center">
        {% include 'administration/partials/alert.html' %}
    </div>
    <button type="button" class="btn btn-teal btn-floating btn-lg" id="btn-back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="34px" fill="currentColor" class="bi bi-arrow-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
        </svg>
    </button>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                aria-selected="true">Profile</button>

            <button class="nav-link" id="v-pills-career-tab" data-bs-toggle="tab" data-bs-target="#v-pills-career"
                type="button" role="tab" aria-controls="v-pills-career" aria-selected="false">Career</button>

            <button class="nav-link" id="v-pills-personality-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-personality" type="button" role="tab" aria-controls="v-pills-personality"
                aria-selected="false">Personality</button>
        </div>
    </nav>


    <div class="tab-content" id="v-pills-tabContent">
        <!-- profile tab -->
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
            aria-labelledby="v-pills-profile-tab">
            {% include 'userprofile/partials/tab-profile.html' %}
        </div>
        <!-- career tab -->
        <div class="tab-pane fade" id="v-pills-career" role="tabpanel" aria-labelledby="v-pills-career-tab">
            {% include 'userprofile/partials/tab-career.html' %}
        </div>
        <!-- Personality Tab -->
        <div class="tab-pane fade" id="v-pills-personality" role="tabpanel" aria-labelledby="v-pills-personality-tab">
            {% include 'userprofile/partials/tab-personality.html' %}
        </div>
    </div>


</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/administration/userprofile.js' %}" defer></script>
{% endblock %}