{% load static %}
<nav class="navbar navbar-expand-lg navbar-light px-5 justify-content-between">
    <a class="brand-text fs-20 d-flex align-items-center me-3" href="{% url 'homepage' %}"><img
        src="{% static 'icons/favicon.ico' %}" alt="" class="favicon-30"><span>PSYTEST</span></a>
    <!-- collapse btn -->
    {% if request.user.is_authenticated %}
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex me-auto flex-grow-1">
            <!-- Assessment -->
            {% if request.user.is_authenticated %}
            <div class="nav-item align-self-center me-auto">
                <a href="{% url 'assessment' %}" class="navlink py-3">
                    <span>Assessment</span>
                </a>
            </div>
            {% endif %}
            <ul class="navbar-nav d-flex">
                <li class="nav-item align-self-center px-2">
                    {% if request.user.is_superuser %}
                    <a href="{% url 'administration:schedules' %}" class="link-teal position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        {% if notif_count %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{notif_count}}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item align-self-center px-2">
                    <a href="{% url 'administration:counseling-requests' %}" class="link-teal position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path
                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path
                                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                        </svg>
                        {% if userstocheck %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{userstocheck}}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        {% endif %}
                    </a>
                    {% endif %}
                </li>
            </ul>
            <!-- user btn grp -->
            <div class="btn-group">
                <button type="button" class="btn nav-user ms-auto px-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person-fill color-teal" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span style="font-size:small" class="color-teal d-none d-sm-inline" data-toggle="tooltip" title="{{request.user.email}}">{{request.user.email}}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'profile:user-stats' user.username user.id%}">Profile</a></li>
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'administration:home' %}">Admin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div>
        <a class="btn btn-teal" href="{% url 'accounts:login' %}"><strong>Login / Sign Up</strong></a>
    </div>
    {% endif %}
</nav>