{% load static %}
<nav class="navbar navbar-expand-lg navbar-light px-5 justify-content-between">
    <a class="brand-text fs-20 d-flex align-items-center me-3" href="{% url 'homepage' %}"><img
        src="{% static 'icons/favicon.ico' %}" alt="" class="favicon-30"><span>PSYTEST</span></a>
    <!-- collapse btn -->
    {% if request.user.is_authenticated %}
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex me-auto flex-grow-1">
            <!-- Assessment -->
            {% if request.user.is_authenticated %}
            <div class="nav-item align-self-center me-auto">
                <a href="{% url 'assessment' %}" class="navlink py-3">
                    <span>Assessment</span>
                </a>
            </div>
            {% endif %}
            <!-- user btn grp -->
            <div class="btn-group">
                <button type="button" class="btn nav-user ms-auto px-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person-fill color-teal" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span style="font-size:small" class="color-teal d-none d-sm-inline" data-toggle="tooltip" title="{{request.user.email}}">{{request.user.email}}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'profile:user-stats' user.username user.id%}">Profile</a></li>
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'administration:home' %}">Admin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div>
        <a class="btn btn-teal" href="{% url 'accounts:login' %}"><strong>Login / Sign Up</strong></a>
    </div>
    {% endif %}
</nav>