<div id="request-section">
    {% if request_status is None %}
    <div>
        <h5>Request for counseling:</h5>
        <div class="d-grid">
            <button class="btn btn-teal" data-bs-toggle="modal"
                data-bs-target="#request-counsel">Notify</button>
            {% include 'partials/modal-request-counsel.html' %}
        </div>
    </div>
    {% elif request_status is False %}
    <div>
        <h5>Request for counseling:</h5>
        <div class="d-grid">
            <button class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#cancel-request">Cancel request</button>
            {% include 'partials/modal-cancel-request.html' %}
        </div>
    </div>
    {% else %}
    <p>Currently on counseling</p>
    <p>Assigned to: </p>
    {%  endif %}
</div>