<div class="modal fade" id="return_{{user.client.user.username}}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Confirm</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="fs-18">Are you sure do you want to end your session with {{user.client.user.first_name}} {{user.client.user.last_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button hx-post="{% url 'administration:end-session' user.client.id type %}" 
                    class="btn btn-teal me-3"
                    hx-target="#section-users"
                    data-bs-dismiss="modal"
                    >
                    End
                </button>
            </div>
        </div>
    </div>
</div>