<h1>Schedule Log</h1>
      <div class="list-group">
        <a href="{% url 'administration:schedules' %}" class="list-group-item item-badge-between link-teal">
          Today's Appointment
          <span class="badge bg-info">{{user_count}}</span>
        </a>
        <a href="{% url 'administration:missed-schedules' %}" class="list-group-item item-badge-between link-teal">
          Missed
          <span class="badge bg-danger">{{late_count}}</span>
        </a>
        <a href="{% url 'administration:upcoming-schedules' %}" class="list-group-item item-badge-between link-teal">
          Upcoming
          <span class="badge bg-warning">{{upcoming_count}}</span>
        </a>
</div>