{% extends 'administration/base.html' %}
{% load static %}
{% block title %}System Administration{% endblock %}

{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="container">
    <div class='admin-div'>
        <small>Administration</small>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="d-flex justify-content-center flex-wrap">
            <a href="{% url 'administration:rquestions' %}" class="m-2 admin-selection">
                <div class="text-center">
                    <img class="svg-120 m-2" src="{% static 'icons/riasec.png' %}" alt="">
                    <div class="text-center">
                        <p class="fs-20">RIASEC Questionnaire</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'administration:pquestions' %}" class="m-2 admin-selection">
                <div class="text-center">
                    <img class="svg-120 m-2" src="{% static 'icons/personality.png' %}" alt="">
                    <div class="text-center">
                        <p class="fs-20">Personality Test Questionnaire</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'administration:user-management' %}" class="m-2 admin-selection">
                <div class="text-center">
                    <img class="svg-120 m-2" src="{% static 'icons/management.png' %}" alt="">
                    <div class="text-center">
                        <p class="fs-20">User Management</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
{% endblock %}