{% extends 'administration/base.html' %}

{% load static %}

{% block title %}Departments{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<span>&raquo;</span>
<a href="{% url 'administration:departments' %}">Departments</a>
{% endblock %}
{% block content %}
<main class="container">
    <div class="d-flex justify-content-between align-items-center my-2">
        <div>
            <h3>List of Departments</h3>
        </div>
        <div class="d-flex gap-2">
            <button data-bs-toggle="modal" data-bs-target="#add_department" class="btn btn-teal">
                <span class="d-none d-sm-inline">
                    Add new department
                </span>
                <span class="d-inline d-sm-none">
                    Add
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentcolor"
                    class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
            </button>
            {% include 'department/components/add_department_modal.html' %}
            <div class="text-end">
                <button class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#delete_department">delete</button>
            </div>
            {% include 'department/components/delete_department_modal.html' %}
        </div>
    </div>
    <!-- alerts -->
    {% if messages %}
    {% for message in messages %}
    <div id="id_alert" class="alert alert-{{message.extra_tags}}" role="alert">
        <span>{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    <!-- User Table -->
    {% if departments %}
    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="bg-teal color-white ">
                    <tr>
                        <th style="width:10%;">Code</th>
                        <th>Department Name</th>
                        <th style="width:10%; text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{department.code|capfirst}}</td>
                        <td>
                            <a href="{% url 'administration:department-details' department.code %}" class="link-teal">
                                {{department.name|capfirst}}
                            </a>
                        </td>
                        <td class="d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{department.id}}" name="marked">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="text-center">
            <h3>No records found</h3>
        </div>
        {% endif %}

        <!-- Pagination -->
        {% if is_paginated %}
        <div>
            <nav aria-label="Page navigation" class="mt-5">
                <ul class="pagination justify-content-end">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREV </a></li>
                    {% endif %}

                    {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                    <li class="page-item {% if page_obj.number == n %}disabled{% endif %}">
                        <span class="page-link">{{ n }}</span>
                    </li>
                    {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %} <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT
                            </a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/administration/department.js' %}" defer></script>
{% endblock %}
