/* container */
.container-test {
    width: 720px;
    margin: 30px;
    padding: 30px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }

  p{
    display:inline;
  }

  @media screen and (max-width:576px) {
    p, label {
      font-size: small;
    }

    img {
      width: 70%;
    }
  }