
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #008080;
}
.nav-pills .nav-link {
    border: 1px solid #008080;
    color: #008080;
    margin: 0px 1px;
}

.nav-link {
    color: teal;
}

.nav-link:hover {
    color: teal;
}


.top-1-color {
    background: #C9B037;
}
.top-2-color {
    background: #B4B4B4;
}
.top-3-color {
    background: #AD8A56;
}
/* riasec */
.riasec-mini-container {
    border-radius: 25px;
    border: 3px solid #008080;
    padding: 20px;
    margin: 25px 5px 25px 5px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.mini-box {
    border: 3px solid #008080;
    border-radius: 25px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
  }

  .traits-box {
    border: 3px solid #008080;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
  }
  .traits-box:hover {
    transition: 0.5s;
    box-shadow: 0px 4px 16px 4px rgba(0,0,0,0.2);
  }

  .carousel-control-next, .carousel-control-prev {
      padding: 0px;
      margin: 0px;
  }