{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}PSYTEST | My Profile{% endblock %}

{% block content %}

<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="profile-container mt-4">
    <div class="row justify-content-center gap-3">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>{{profile.user.first_name}} {% if profile.middle_name %}{{profile.middle_name}}{% endif %} {{profile.user.last_name}}</h2>
                    <small class="text-muted">@{{profile.user.username}}</small>
                </div>
                <div>
                    <a href="{% url 'accounts:edit-profile' user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="teal"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        <span>Edit Profile</span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <h5>Bio Details</h5>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <p>Birthdate: {{profile.date_of_birth}}</p>
                <p>Gender: {{profile.gender}}</p>
                <p>Age: {{profile.age}}</p>
            </div>
            <div class="col-sm-6 col-xs-6">
                <p>Contact Number: {{profile.contactNumber}}</p>
                <p>Email: {{profile.user.email}}</p>
            </div>
        </div>
        <h5>Educational Details</h5>
        <div class="row">
            <div>
                <p>Department: {{profile.department}}</p>
                <p>Program & Year: {{profile.program}} - {{profile.year}}</p>
            </div>
        </div>
</main>
{% endblock %}