{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content%}
<main class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-sm-8 col-xs-6 p-4 border-1-round-box">
            <h3 class="mb-4">Register</h3>

            <form method="post" id="registerForm" data-profile-url="{% url 'accounts:register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_first_name">First Name</label>
                        {{form.first_name}}
                        {{form.first_name.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_middle_name">Middle Name</label>
                        {{form.middle_name}}
                        {{form.middle_name.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_last_name">Last Name</label>
                        {{form.last_name}}
                        {{form.last_name.errors}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_gender">Gender</label>
                        {{form.gender}}
                        {{form.gender.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_contactNumber">Contact Number</label>
                        <small class="text-muted">(e.g 09057833023)</small>
                        {{form.contactNumber}}
                        {{form.contactNumber.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_date_of_birth">Birthdate</label>
                        <div class="d-flex">
                            {{form.date_of_birth}}
                            {{form.date_of_birth.errors}}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_educationlevel">Education Level</label>
                        {% render_field form.educationlevel class='form-select' hx-get="years/" hx-target="#id_year" %}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_department">Department</label>
                        <activate hx-get="departments/" hx-include="[name='educationlevel']" hx-target="#id_department" hx-trigger="change from:#id_educationlevel" ></activate>
                        {% render_field form.department class="form-select" %}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_program">Program / Track</label>
                        <activate hx-get="programs/" hx-include="[name='department']" hx-target="#id_program" hx-trigger="change from:#id_department"></activate>
                        <activate hx-get="programs/" hx-target="#id_program" hx-trigger="change from:#id_educationlevel"></activate>
                        {% render_field form.program class="form-select" %}

                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_year">Year</label>
                        {% render_field form.year class='form-select' %}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_username">Username</label>
                        {{form.username}}
                        {{form.username.errors}}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_email">Email</label>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_password1">Password</label>
                        {{form.password1}}
                        {{form.password1.errors}}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_password2">Confirm Password</label>
                        {{form.password2}}
                        {{form.password2.errors}}
                    </div>
                </div>
                {% if form.password1.errors %}
                <div class="alert alert-secondary">
                    <ul>
                        <li>Should have at least one number.</li>
                        <li>Should have at least one uppercase and one lowercase character.</li>
                        <li>Should have at least one special symbol.</li>
                        <li>Should be between 6 to 20 characters long.</li>
                    </ul>
                </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-teal w-100 mt-3">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}