{% extends 'accounts/base.html' %}


{% block title %}Register{% endblock %}

{% block content%}
<main class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-sm-8 col-xs-6 p-4 border-1-round-box">
            <h3 class="mb-4">Register</h3>

            <form method="post" id="registerForm" data-profile-url="{% url 'accounts:register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_first_name">First Name</label>
                        {{form.first_name}}
                        {{form.first_name.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_middle_name">Middle Name</label>
                        {{form.middle_name}}
                        {{form.middle_name.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_last_name">Last Name</label>
                        {{form.last_name}}
                        {{form.last_name.errors}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_gender">Gender</label>
                        {{form.gender}}
                        {{form.gender.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_contactNumber">ContactNumber</label>
                        <small class="text-muted">(e.g +639057833050)</small>
                        {{form.contactNumber}}
                        {{form.contactNumber.errors}}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="id_date_of_birth">Birthdate</label>
                        <div class="d-flex">
                            {{form.date_of_birth}}
                            {{form.date_of_birth.errors}}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4 col-xs-6">
                        <label for="id_department">Department</label>
                        <select class="form-select" name="department" aria-label="Department" required>
                            {% for index, choice in department %}
                            <option value="{{index}}">{{choice}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 col-xs-6">
                        <label for="id_program">Program</label>
                        <select class="form-select" name="program" aria-label="Prorgam" required>
                            {% for index, choice in program_ibed %}
                            <option value="{{index}}">{{choice}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 col-xs-6">
                        <label for="id_year">Year</label>
                        <select class="form-select" name="year" aria-label="Year" required>
                            {% for index, choice in year_grade %}
                            <option value="{{index}}">{{choice}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_username">Username</label>
                        {{form.username}}
                        {{form.username.errors}}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_email">Email</label>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_password1">Password</label>
                        {{form.password1}}
                        {{form.password1.errors}}
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label for="id_password2">Confirm Password</label>
                        {{form.password2}}
                        {{form.password2.errors}}
                    </div>
                </div>
                {% if form.password1.errors %}
                <div class="alert alert-secondary">
                    <ul>
                        <li>Usernames can consist of lowercase and capitals</li>
                        <li>Usernames can consist of alphanumeric characters</li>
                        <li>Usernames can consist of underscore and hyphens and spaces</li>
                        <li>Cannot be two underscores, two hypens or two spaces in a row</li>
                        <li>Cannot have a underscore, hypen or space at the start or end</li>
                    </ul>
                </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-teal w-100 mt-3">
                </div>
            </form>
        </div>
    </div>
</main>
<script>

</script>
<!--<script>-->
<!--    $("#id_department").change(function () {-->
<!--      var url = $("#registerForm").attr("data-profile-url");-->
<!--      var departmentId = $(this).val();-->
<!--      $.ajax({-->
<!--        url: url,-->
<!--        data: {-->
<!--          'department': departmentId-->
<!--        },-->
<!--        success: function (data) {-->
<!--          $("#id_program").html(data);-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--     $("#id_program").change(function () {-->
<!--      var url = $("#registerForm").attr("data-profile-url");-->
<!--      var programId = $(this).val();-->
<!--      $.ajax({-->
<!--        url: url,-->
<!--        data: {-->
<!--          'program': programId-->
<!--        },-->
<!--        success: function (data) {-->
<!--          $("#id_year").html(data);-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--</script>-->
{% endblock %}