<script>
    let MalePersonalityLineChart = new Chart(PMlineChart, {
        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:['Openness', 'Conscientious', 'Extroversion', 'Agreeable', 'Neurotic', 'Prediction'],
          datasets:[{
            label:'Result',
            data:[
            {{ personality_male.openness__avg|floatformat:1 }},
            {{ personality_male.conscientious__avg|floatformat:1 }},
            {{ personality_male.extroversion__avg|floatformat:1 }},
            {{ personality_male.agreeable__avg|floatformat:1 }},
            {{ personality_male.neurotic__avg|floatformat:1 }},
            {{ personality_male.prediction__avg|floatformat:1 }},
            ],
            backgroundColor:[
              'rgba(66, 141, 239, 0.6)',
              'rgba(54, 162, 235, 0.6)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
          }]
        },
        options:{
          legend:{
            display:true,
            position:'right',
            labels:{
              fontColor:'#000'
            }
          },
          layout:{
            padding:{
              left:0,
              right:30,
              bottom:0,
              top:0
            }
          },
          tooltips:{
            enabled:true
          }
        }
      });
</script>