<script>
  let predictionbarChart= document.getElementById('predictionBarChart').getContext('2d');
  // Global Options
  Chart.defaults.global.defaultFontFamily = 'Lato';
  Chart.defaults.global.defaultFontSize = 18;
  Chart.defaults.global.defaultFontColor = '#777';

  let predictionBarChart = new Chart(predictionbarChart, {
    type: 'bar',
    data: {
      labels: ['E', 'N', 'A', 'C', 'O'],
      datasets: [{
        label: 'Result',

        data: [
          {{ personalityTest_result.extroversion|floatformat:1}},
          {{ personalityTest_result.neurotic|floatformat:1 }},
          {{ personalityTest_result.agreeable|floatformat:1 }},
          {{ personalityTest_result.conscientious|floatformat:1 }},
          {{ personalityTest_result.openness|floatformat:1 }},
          ],
          
  backgroundColor: [
    '#a7414a',
    '#282726',
    '#6a8a82',
    '#a37c27',
    '#563838',
  ],
    borderWidth: 1,
      borderColor: '#777',
        hoverBorderWidth: 3,
          hoverBorderColor: '#000'
        }]
      },
  options: {
    responsive:true,
    scales: {
      yAxes: [{
          display: true,
          ticks: {
              max: 5,
              beginAtZero: true   // minimum value will be 0.
          }
      }]
  },
    legend: {
      display: false,
    },
    layout: {
      padding: {
        left: 0,
          right: 0,
            bottom: 0,
              top: 0,
      }
    },
    tooltips: {
      enabled: true
    }
  }
    });
</script>