<div class="modal fade" id="delete_question" aria-labelledby="delete_question" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="question_delete">Delete Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete the questions?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button  
                    id="delete_question_btn" 
                    class="btn btn-danger me-3"
                    data-url="{% url 'administration:delete-career-question' %}">Delete</button>
            </div>
        </div>
    </div>  
</div>