{% extends 'userstocheck/base.html' %}
{% load static %}
{% block title %}Assigned Users{% endblock %}
{% block content %}

<main class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-sm-4 col-xs-6">
            {% include 'userstocheck/partials/side-nav.html' %}
        </div>
        <div class="col-sm-8 col-xs-6 pt-5">
            <div class="row mb-2">
                <h3>Active sessions</h3>
                <form method='GET'>
                    <div class="d-flex">
                        <div class="p-2 input-group">
                            {{filter.form.user}}
                            <div>
                                <button class="btn teal-btn btn-default" type='submit'>Search</button>
                            </div>
                        </div>
                        <div class="dropdown p-2 bd-highlight">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-funnel-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                                </svg>
                                Filter
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-item"> {{filter.form.date_completed_order.label_tag}}
                                    {{filter.form.w_order}}
                                </li>
                                <li class="dropdown-item"> {{filter.form.department.label_tag}}
                                    {{filter.form.department__name}}
                                </li>
                                <li class="dropdown-item">
                                    {{filter.form.program.label_tag}}{{filter.form.program__name}}
                                </li>
                                <li class="dropdown-item"> {{filter.form.year.label_tag}}
                                    {{filter.form.year__name}}
                                </li>
                                <li class="dropdown-item">{{filter.form.start_date.label_tag}}
                                    {{filter.form.start_date}}
                                </li>
                                <li class="dropdown-item">{{filter.form.end_date.label_tag}}
                                    {{filter.form.end_date}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                {% if consultations %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Client's name</th>
                                <th>Managed by</th>
                                <th>Scheduled date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in consultations %}
                            <tr>
                                <td>{{forloop.counter0|add:page_obj.start_index }}</td>
                                <td>{{session.client.user.last_name}}, {{session.client.user.first_name}}</td>
                                <td>{{session.managed_by.user.first_name}} {{session.managed_by.user.last_name}}</td>
                                <td>{{session.scheduled_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}

                <div class="text-center">
                    <img class="w-75" src="{% static 'images/no-sched.png' %}" alt="">
                    <div>
                        <h3>
                            no pending users
                        </h3>
                    </div>
                </div>
                {% endif %}

            </div>
            {% if is_paginated %}
            <div>
                <nav aria-label="Page navigation" class="mt-5">
                    <ul class="pagination justify-content-end">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREV </a></li>
                        {% endif %}

                        {% for n in page_obj.paginator.page_range %}
                        {% if page_obj.number == n %}
                        <li class="page-item {% if page_obj.number == n %}disabled{% endif %}">
                            <span class="page-link">{{ n }}</span>
                        </li>
                        {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %} <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT
                                </a></li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}