<div class="riasec-mini-container">
    <h2 class="mt-2">A = Artistic</h2>
    <hr>
    <p>These people like to work in unstructured situations
        where they can use their creativity. Good majors for
        Artistic people are:</p>
    <div class="row">
        <div class="col">
            <ul>
                <li>Communications</li>
                <li>Cosmetology</li>
                <li>Fine and Performing Arts</li>
                <li>Photography</li>
                <li>Radio and TV</li>
                <li>Interior Design</li>
                <li>Architecture</li>
            </ul>
        </div>
        <div class="col">
            <h5>Related Pathways</h5>
            <ul>
                <li>Public and Human Services</li>
                <li>Arts and Communication</li>
            </ul>
        </div>
    </div>
</div>