<div class="riasec-mini-container">
    <h2 class="mt-2">C = Conventional</h2>
    <hr>
    <p>These people are very detail oriented,organized
        and like to work with data. Good college majors
        for Conventional people are</p>
    <div class="row">
        <div class="col">
            <ul>
                <li>Accounting</li>
                <li>Court Reporting</li>
                <li>Insurance</li>
                <li>Administration</li>
                <li>Medical Records</li>
                <li>Banking</li>
                <li>Data Processing</li>
            </ul>
        </div>
        <div class="col">
            <h5>Related Pathways</h5>
            <ul>
                <li>Health Services</li>
                <li>Business</li>
                <li>Industrial and Engineering
                    Technology
                </li>
            </ul>
        </div>
    </div>
</div>