<div class="riasec-mini-container">
    <h2 class="mt-2">E = Enterprising</h2>
    <hr>
    <p>These people like to work with others and enjoy
        persuading and and performing. Good college majors
        for Enterprising people are:</p>
    <div class="row">
        <div class="col">
            <ul>
                <li>Fashion Merchandising</li>
                <li>Real Estate</li>
                <li>Marketing/Sales</li>
                <li>Law</li>
                <li>Political Science</li>
                <li>International Trade</li>
                <li>Banking/Finance</li>
            </ul>
        </div>
        <div class="col">
            <h5>Related Pathways</h5>
            <ul>
                <li>Business</li>
                <li>Public and Human Services</li>
                <li>Arts and Communication</li>
            </ul>
        </div>
    </div>
</div>