<div class="riasec-mini-container">
    <h2 class="mt-2">I = Investigative</h2>
    <hr>
    <p>These people like to watch, learn, analyze and solve
        problems. Good college majors for Investigative
        people are:</p>
    <div class="row">
        <div class="col">
            <ul>
                <li>Marine Biology</li>
                <li>Engineering</li>
                <li>Chemistry</li>
                <li>Zoology</li>
                <li>Medicine/Surgery</li>
                <li>Consumer Economics</li>
                <li>Psychology</li>
            </ul>
        </div>
        <div class="col">
            <h5>Related Pathways</h5>
            <ul>
                <li>Health Services</li>
                <li>Business</li>
                <li>Public and Human Services</li>
                <li>Industrial and Engineering
                    Technology
                </li>
            </ul>
        </div>
    </div>
</div>