<div
  class="tab-pane fade show"
  id="v-pills-iq"
  role="tabpanel"
  aria-labelledby="v-pills-iq-tab"
>
  <div class="d-flex justify-content-end my-2">
    <div class="text-end" style="width: 250px">
      <form id="my_form" hx-get="{% url 'administration:iq-stats' %}" hx-trigger="change" hx-target="#iq_script">
        <input type="checkbox" name="gender" id="" value="male">
        <label for="personality_category">Category</label>
        <select class="form-select" name="select">
          <option value="1">All</option>
          <option value="2">Sex</option>
          <option value="3">College</option>
          <option value="4">Senior Highschool</option>
          <option value="5">Junior Highschool</option>
          <option value="6">Grade School</option>
        </select>
        {{iqFilterForm.as_p}}
      </form>
    </div>
  </div>

  <div id="iq-section">{% include 'statistics/partials/iq_stat.html' %}</div>
</div>
