{% extends "administration/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}User Statistics{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<main class="container mt-3">
    <button type="button" class="btn btn-teal btn-floating btn-lg" id="btn-back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="34px" fill="currentColor" class="bi bi-arrow-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
        </svg>
    </button>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="v-pills-career-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-career" type="button" role="tab" aria-controls="v-pills-career"
                aria-selected="false">Career
            </button>
            <button class="nav-link" id="v-pills-personality-tab" data-bs-toggle="tab"
                data-bs-target="#v-pills-personality" type="button" role="tab" aria-controls="v-pills-personality"
                aria-selected="false">Personality
            </button>
        </div>
    </nav>
    <div class="tab-content" id="v-pills-tabContent">
    <!-- career tab -->
    {% include 'statistics/career-section.html' %}
    <!-- Personality Tab -->
    {% include 'statistics/personality-section.html' %}
        
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/backToTop.js' %}"></script>
{% endblock %}