{% extends 'administration/base.html' %}
{% load static %}

{% block title %}Manage IQ Test{% endblock %}
{% block head %}
{% include 'django_quill/media.html' %}
{% endblock %}
{% block content %}
<main class="container-fluid">
    <div class="d-flex justify-content-center  ">
        <div class="col-sm-8 colxs-6 mt-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h3>IQ Test Questions</h3>
                </div>
                <div class="d-flex align-items-center">
                    <a href="#" hx-get='{% url "administration:add-iq-question" %}' hx-target="#question_field" hx-swap="morph:innerHTML" class="link-teal" data-bs-toggle="modal" data-bs-target="#add_question">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-plus-square-fill me-3 " viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                        </svg>
                    </a>
                    {% include 'iq/partials/add_question_modal.html' %}
                    <div class="text-end">
                        <button class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete_question_modal">delete</button>
                    </div>
                    {% include 'iq/partials/delete_question_modal.html' %}
                </div>
            </div>
            <!-- alert -->
            <div id="id_alert">  
            </div>
            <hr>
            <div id="questions">
                {% include 'iq/questions.html' %}
            </div>
            {% include 'iq/partials/update_question_modal.html' %}
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/administration/iq.js' %}" defer></script>
{% endblock %}