
{% if messages and deleted %}
{% for message in messages %}
<div id="id_alert" class="alert alert-{{message.extra_tags}} my-2" hx-swap-oob="true">
    <span>{{ message }}</span>
</div>
{% endfor %}
{% endif %}

{% for question in questions %}
<div class="d-flex justify-content-between mb-2">
    <div class="d-flex">
        <span>{{ forloop.counter0|add:page_obj.start_index }}.)</span>
        <span>{{question.question.html|safe}}</span>
    </div>
    <div class="d-flex align-items-center gap-2">
        <a href= "#" hx-get='{% url "administration:update-iq-question-view" %}' hx-vals="js:{'questionid': '{{question.id}}'}" hx-target="#update_question_field" hx-swap="morph:innerHTML" class="text-secondary"
        data-bs-toggle="modal" data-bs-target="#update_question_modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
    </svg>
</a>
<div>
    <input class="form-check-input" type="checkbox" value="{{question.id}}" name="del_cbox">
</div>
</div>
</div>
{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation" class="mt-5" id="pagination">
    <ul class="pagination justify-content-end m-0">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}disabled{% endif %}"><a class="page-link"
                href="?page={{ i }}">{{i}}</a></li>
        {% endfor %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT
                &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}